{% extends 'base.html' %}

{% block content %}
    {% if object_list %}
        {% for post in object_list %}
        <div class="post">
            <h1><a href="{% url 'post_detail' post.id %}">{{ post.title }}</a></h1>
            <div class="author">
                <p><a href="#">@{{ post.author }}</a></p>
            </div>
            <p>{{ post.text|linebreaksbr }}</p>
            <div class="date">
                <p>published: {{ post.published_date }}</p>
            </div>
        </div>
        {% endfor %}
    {% else %}
        <p>No posts are available.</p>
    {% endif %}
{% endblock %}