{% extends 'base.html' %}
{% load static %}

{% block content %}
    {% if object %}
        <h1>Edit post</h1>
    {% else %}
        <h1>New post</h1>
    {% endif %}
    <form method="POST" enctype="multipart/form-data" class="post-form">{% csrf_token %}
        <label>Title:</label>
        <div class="title-input">
            {{ form.title }}
        </div>
        <label>Text:</label>
        <div>
            {{ form.text }}
        </div>
        <hr>
        <label>Attachment:</label>
        <div>
            {{ form.attachment }}
        </div>
        <button type="submit" class="save btn btn-default">Save</button>
    </form>
    {% if object.attachment %}
        <div>
            <a href="{{ object.attachment.url }}">
                <img src="{{ object.attachment.url }}" class="img-thumbnail" style="border:0;">
            </a>
        </div>
    {% endif %}
{% endblock %}

{% block extra_js %}
    {{ block.super }}
{% endblock extra_js %}