{% extends 'base.html' %}

{% block content %}
    {% if error_message %}
        <p><strong>{{ error_message }}</strong></p>
    {% endif %}

    <div class="post">
        <h1>{{ object.title }}</h1>
        {% if user.is_authenticated %}
            <a class="btn btn-default" href="{% url 'post_edit' object.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
            <a class="btn btn-default" href="{% url 'post_remove' object.pk %}"><span class="glyphicon glyphicon-remove"></span></a>
        {% endif %}
        <p>@{{ object.author }}</p>
        <p>{{ object.text }}</p>
        {% if object.attachment %}
            <img src="{{ object.attachment.url }}">
        {% endif %}
        <div class="date">Published on: {{ object.published_date }}</div>
    </div>

{% endblock %}