{% extends 'base.html' %}
{% load static %}

{% block content %}
    {% if error_message %}
        <p><strong>{{ error_message }}</strong></p>
    {% endif %}

    <div class="post">
        <h1>{{ object.title }}</h1>
        {% if user.is_authenticated %}
            <a class="btn btn-default" href="{% url 'post_edit' object.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
            <a class="btn btn-default" href="{% url 'post_remove' object.pk %}"><span class="glyphicon glyphicon-remove"></span></a>
        {% endif %}
        <p><a href="#">@{{ object.author }}</a></p>
        <p>{{ object.text }}</p>
        {% if object.attachment %}
            <div class="center-el">
                <a href="{{ object.attachment.url }}">
                    <img src="{{ object.attachment.url }}" class="img-responsive" alt="attached image">
                </a>
            </div>
        {% endif %}
        <div class="date">Published on: {{ object.published_date }}</div>
    </div>

{% endblock %}