body {
    margin-top: 100px;
}

.navbar {
    min-height: 80px;
    border: none;
    color: #F0F0F0;
    background-color: white;
}

.navbar-brand {
    padding: 0 15px;
    height: 80px;
    line-height: 80px;
    font-size: 30px;
}

.navbar-text {
    padding: 0 15px;
    height: 52px;
    line-height: 52px;
}

.navbar-toggle {
    margin-top: 23px;
    padding: 9px 10px !important;
}

.navbar-inverse {
    font-family: 'Bitter', serif;
    color: #F0F0F0;
    background: #172531;
}

@media (min-width: 768px) {
    .navbar-nav > li > a {
        padding-top: 26.5px;
        padding-bottom: 26.5px;
        line-height: 27px;
    }
}

/*.content {*/
    /*margin-left: 40px;*/
/*}*/

h1, h2, h3, h4 {
    font-family: 'Bitter', serif;
}

.date {
    color: #172531;
    font-size: 8pt;
}

.save {
    float: right;
}

.post-form textarea, .post-form input {
    width: 100%;
}

.top-menu, .top-menu:hover, .top-menu:visited {
    color: #ffffff;
    float: right;
    font-size: 20pt;
    margin-right: 20px;
}

.post {
    margin-bottom: 70px;
}

.post h1 a, .post h1 a:visited {
    color: #172531;
    text-decoration: none;
}

.post h1 a:hover {
    text-decoration: none;
    color: #456f93;
}

.author a {
    color: #253a4e;
    text-decoration: none;
}

.author a:hover {
    color: #456f93;
    text-decoration: none;
}

.title-input {
    max-width: 50%;
}

.upload-button {
    width: 64px;
    height: 64px;
    background: url("../img/upload-icon.png");
    overflow: hidden;
    cursor: pointer;
}

.upload-button input {
    display: block !important;
    width: 157px !important;
    height: 57px !important;
    opacity: 0 !important;
    overflow: hidden !important;
}

.center-el {
    margin: 0 auto;
}

.pagination-nums {
    magin: 0 auto;
}

.navbar-default .navbar-brand {
    color: #fff;
}