{% load static %}

<head>
    <title>Dwitter - Twitter for Dogs</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="{% static 'css/dwitter.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Bitter:400,700" rel="stylesheet">
</head>

<body>
    <div class="page-header">
        <a href="{% url 'dwitterapp:new_post' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a>
        <h1><a href="/dwitter">Dwitter - Twitter for Dogs</a></h1>
    </div>

    <div class="content container">
        <div class="row">
            <div class="col-md-8">
                {% block content %}
                {% endblock %}
            </div>
        </div>
    </div>
</body>