{% extends 'dwitterapp/base.html' %}

{% block content %}
    {% if error_message %}
        <p><strong>{{ error_message }}</strong></p>
    {% endif %}

    <div class="post">
        <h1>{{ post.title }}</h1>
        <p>@{{ post.author }}</p>
        <p>{{ post.text }}</p>
        <div class="date">Published on: {{ post.published_date }}</div>
    </div>


    <form action="{% url 'dwitterapp:comment' post.id %}" method="post">
        {% csrf_token %}
        <label>Comment</label>
        <input type="text" name="new_comment" id="new_comment" value="Comment here">
        <input type="submit" value="Comment" />
    </form>
{% endblock %}